<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Havi</title>
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>

<div class='container-fluid'>
 {% block content %}
{% endblock content %}
</div>



    <script src="{% static 'users/js/jq.js' %}"></script>
    <script src="{% static 'users/js/popper.js' %}"></script>
    <script src="{% static 'users/js/bootstrap.js' %}"></script>
    
</body>
</html>